
.custom-card-daily{

    font-size: 2vw;
    font-family: "Arial Rounded MT Bold";
}

.custom-card-price{

    font-size: 1.7vw;
    font-family: "Arial Rounded MT Bold";
}

.container-one {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 101vw;
    height: 41vw;
    background: #39d01c;
}

.container-two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 101vw;
    height: 40%;

}

.container-three {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 300px;
    background: #B22D2B
}

.custom-container-one {
    display: flex;
    flex-wrap: wrap;
    height: 51vw;
    justify-content: center;
}

.carRent-slide-one{
    display: flex;
    flex-direction: column;
    width: 99vw;
    height: 700px;
    justify-content: center;
    align-items: center;

}
.home-car-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
    width: 95%;
    margin-top: 2%;
}


.sub-container-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 64vw;
    height: 40vw;
    position: relative;
    margin-bottom: -3vw;
    margin-right: -23vw;
}

.sub-container-two {
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 51vw;
    height: 50vw;
}

.home-custom-card {
    width: 95%;
    height: 100%;
    margin-right: 2%;
    margin-left: 2%;


}

.home-custom-card-img {
    height: 220px;
    width: 85%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
}


.header-title {
    color: rgba(15, 59, 219, 0.99);
    font-size: 4.5vw;
    font-weight: bolder;
    margin-bottom: 8vw;
}


.background-image {
    height: 45vw;
    margin-bottom: -7vw;
    margin-left: -29vw;
}



h1 {
    font-size: 2vw;
    color: white;
    margin-bottom: 1vw;
}

h2 {
    font-size: 2vw;
    color: white;
}

h3 {
    font-size: 1.8vw;
    color: white;
}


.register-btn-homePage {
    color: #e2d312;
    background: #0c34af;
    border-radius: 10px;
    font-size: 2vw;
    margin-top: 10vw;
    margin-left: 72vw;
    font-weight: bolder;
    width: 20vw;
    top: -6vw;
    position: relative;
}
.detail-box-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 90%;
    margin: 35px;
}
.footerImg {
    height: 50%;
    width: 60%;
}
.footerImg1 {
    height: 50%;
    width: 99%;
}
.delitsTxt {
font-size: 1.8vw;
}