.bg-red{
    background-color: #B22D2B;
}
.bg-custom-black{
    background-color: #141212;
}
.btn-radius{
    border-radius: 15px;
}
.position-abs{
    position: absolute;
}

.border-radius-shadow{
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px #9E9E9E;;
}
.border-radius-shadow-dark{
    background-color: #282828;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px gray;
}
.my-custom-scrollbar {
    position: relative;
    height: 201px;
    overflow: auto;
}
.get-center{
    display: flex;
    justify-content: center;
}